JavaEEplatform/checkerBusiness-ejb/src/wsdl/localhost_8012/Serveur/Service.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ContractWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/ContractWCF"><xs:import schemaLocation="http://localhost:8012/Serveur/Service?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:import schemaLocation="http://localhost:8012/Serveur/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/><xs:complexType name="Message"><xs:annotation><xs:appinfo><IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType></xs:appinfo></xs:annotation><xs:sequence><xs:element minOccurs="0" name="appToken" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="appVersion" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="data" nillable="true" type="q1:ArrayOfanyType" xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/><xs:element minOccurs="0" name="info" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="operationName" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="operationStatus" type="xs:boolean"/><xs:element minOccurs="0" name="operationVersion" nillable="true" type="xs:string"/><xs:element minOccurs="0" name="userToken" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="Message" nillable="true" type="tns:Message"/></xs:schema>