MiddlewareCSharp/MiddlewareWCF/Connected Services/JavaEEService/CheckerServiceBean.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://facade.messagemgmt.checker.com/" targetNamespace="http://facade.messagemgmt.checker.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="checkOperation" type="tns:checkOperation" />
  <xs:element name="checkOperationResponse" type="tns:checkOperationResponse" />
  <xs:complexType name="checkOperation">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="tns:msg" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="msg">
    <xs:sequence>
      <xs:element name="opStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="info" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="data" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="operationName" type="xs:string" />
      <xs:element minOccurs="0" name="appToken" type="xs:string" />
      <xs:element minOccurs="0" name="userToken" type="xs:string" />
      <xs:element minOccurs="0" name="appVersion" type="xs:string" />
      <xs:element minOccurs="0" name="operationVersion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="checkOperationResponse">
    <xs:sequence>
      <xs:element name="checkedMessage" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>